{% extends 'base.html' %}

{% block body_block %}
    <h1>My django blog</h1>
    <ul>
        {% for post_detail in message_details %}
            <li class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          <a href='/{{ post_detail.slug }}'>{{ post_detail.title }}</a>
                      </h3>
                  </div>
                  <div class="panel-body">
                      {{ post_detail.date }}
                      <br>
                      {{post_detail.content}}
                  </div>
                  <div class="panel-footer">
                      <a href='/{{ post_detail.slug }}'>Read more...</a>
                  </div>
            <br>
            </li>

        {% endfor %}
    </ul>
{% endblock %}

{% block side_block %}
    {% include 'menu.html'%}
{% endblock %}